.order {
  width: 320px;
  margin: 0 auto;
}
.order__descr {
  padding: 25px 0px 10px;
  font-size: 13px;
  line-height: 24px;
}
fieldset {
  border-style: none;
  padding: 0px;
}
.order__title {
.form-order-title();
}
.order__prop {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}
.order__submit {
  margin: 10px 33px;
}
