.promo-hit {
  padding: 26px;
  .mobile-width-margin();

  color: #444444;
}
.promo-hit__title {
  margin: 0;
}
.promo-hit__item-link {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
.promo-hit__marker {
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 20px;
  color: #63d1bb;
}

.promo-hit__props {
  .list-reset();
  display: table;
}
.promo-hit__prop-name {
  display: table-row;
}
.promo-hit__prop-value{
  display: table-cell;
  padding: 10px 25px 10px 0px;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid #ececec;
}
.promo-hit__cost-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
  padding: 10px;
}
.promo-hit__btn-buy {
  .button();
  padding: 14px 83px;
}
.promo-hit__descr {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding: 25px 0px 20px;
}
.promo-hit__pict {
  padding: 27px 0px 10px;
}
.promo-hit__btn {
  padding: 15px 0px;
}
