.promo-hit__item-link {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  height: 105px;
  color: #000000;
  text-decoration: none;
}
.promo-hit__marker {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  color: #63d1bb;
}
.promo-hit__descr,
.promo-hit__prop-name,
.promo-hit__subtitle-value {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
.promo-hit__props-wrapper {
  display: table;
}
.promo-hit__props {
  display: table-row;
}
.promo-hit__prop-name,
.promo-hit__subtitle-value {
  display: table-cell;
  min-width: 98px;
}
.promo-hit__cost-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
.promo-hit__btn-buy {
  .button();
}
