.reviews {
  padding: 10px 30px;
  .mobile-width-margin();
}
.reviews__btn {
  .button();
  padding: 18px 78px;
}
.reviews__title {
  padding: 5px 0px 10px;
  margin: 0;
}
.reviews__list {
  .list-reset();
}
.reviews__descr {
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 10px;
}
.reviews__user-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.reviews__pagination {
  padding: 32px 0;
}
.reviews__pagination-item {
  position: relative;
  .pagination-buttons();
  background-repeat: no-repeat;
  background-position: center;
}
.reviews__pagination-item--prev {
  background-image: url("../img/icon-left-arrow.svg");
}
.reviews__pagination-item--next {
  background-image: url("../img/icon-right-arrow.svg");
  right: 5px;
}
.reviews__user-mail {
  font-size: 17px;
  line-height: 30px;
}
