.btn {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  font-family: inherit;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid;
  text-transform: uppercase;
  padding: 15px 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: #444444;
  color: #ffffff;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #444444;
}

.btn:focus {
  outline: 0;
}
