.catalog {
  .mobile-width-margin();

  @media @tablets {
    width: auto;
    padding: 30px;
  }
}

.catalog__list {
  .list-reset();
}

.catalog__order-price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  float: left;
  padding: 20px;

  @media @tablets {
    padding: 20px 0;
  }
}

.catalog__order-btn {
  font-size: 0;
  padding: 15px;
  background-image: url(../img/icon-cart.svg);
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  border-style: none;
  margin: 15px;
  cursor: pointer;
}

.catalog__item {
  padding: 0 0 65px;
  border: 1px solid #ededed;
  margin: 20px 0;

  @media @tablets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 330px;
    padding: 0;
  }
}

.catalog__item-prop {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  width: 185px;
  margin: 0 auto;
  padding: 0 30px 20px 0;

  @media @tablets {
    border: none;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }
}

.catalog__item-name {
  font-size: 17px;
  line-height: 24px;
  padding: 10px 20px;
  margin: 0;

  @media @tablets {
    padding: 0;
  }
}
.catalog__item-wrapper {
  @media @tablets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    padding: 25px 30px;
  }
}

.catalog__pict {
  @media @tablets {
    flex-basis: 50%;
    height: 100%;
  }
}
.catalog__order {
  border-top: 1px solid #ececec;
}
