.catalog {
  margin-top: 15px;

  @media @tablets {
    width: auto;
    padding: 30px;
  }
}

.catalog__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  align-items: center;

  @media @desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
  }
}

.catalog__order-price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  float: left;

  @media @tablets {
    font-size: 17px;
    padding: 20px 0;
  }
}

.catalog__order-btn {
  font-size: 0;
  background-image: url(../img/icon-cart.svg);
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  border-style: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.catalog__item {
  flex-direction: column;
  border: 1px solid #ededed;
  width: 258px;
  align-items: center;
  margin: 15px 30px 15px;
  outline: 1px solid rgba(255, 0, 0, 0.08);

  @media @tablets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 330px;
    width: 94%;
    margin: 30px 0 25px 0;
    padding: 0;
  }

  @media @desktop {
    flex-direction: column;
    width: 315px;
    min-height: 100%;
    margin: 30px;
    padding: 0;
  }
}

.catalog__item-prop {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  width: auto;
  margin-top: 5px;

  @media @tablets {
    border: none;
    flex-grow: 1;
    font-size: 15px;
    align-content: stretch;
  }

  @media @desktop {
    padding-bottom: 50px;
  }
}

.catalog__item-name {
  font-size: 17px;
  line-height: 24px;
  margin: 24px 0 0 0;

  @media @tablets {
    font-size: 20px;
  }

  @media @desktop {
    font-size: 20px;
  }
}

.catalog__item-link {
  color: #000000;
  text-decoration: none;
}
.catalog__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: auto;
  padding: 0 27px;

  @media @tablets {
    width: 42%;
    padding: 0 25px 0 30px;
    outline: 1px solid red;
  }
}

.catalog__pict {
  @media @tablets {
    flex-basis: 50%;
    height: 100%;
  }

  @media @desktop {
    width: 100%;
  }
}
.catalog__order {
  border-top: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 20px;

  @media @tablets {
    align-items: center;
    padding: 3px 0 5px 5px;
    margin: 45px 0 0 0;
  }
}

/*************** styleguide start ******************/
.catalog__item:hover {
  box-shadow: 0 5px 10px 0 #ddd;
}

.catalog__item:active {
  box-shadow: 0 2px 7px 0 #ddd;
}

.catalog__item-name:hover {
  opacity: 0.6;
}
.catalog__item-name:active {
  opacity: 0.3;
}
/*************** styleguide end ******************/
