.catalog-nav {
  margin: 0 auto;

  @media @tablets {
    width: auto;
    background-color: #fbfbfb;
  }
}

.catalog-nav__list {
  .list-reset();

  @media @tablets {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.catalog-nav__item {
  padding: 25px 115px 30px 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;

  background-color: #56c3b2;
  background-image: url(../img/icon-toy.svg);
  background-repeat: no-repeat;
  background-position: 90% center;

  @media @tablets {
    flex-basis: 25%;
    font-size: 20px;
    line-height: 30px;
    background-size: 50px;
  }

  @media @desktop {
    flex-basis: 30%;
  }
}

.catalog-nav__item:nth-child(odd) {
  background-color: #63d1bb;
  background-image: url(../img/icon-interior.svg);
  background-position: 87% center;
}

.catalog-nav__link {
  color: #ffffff;
  text-decoration: none;
}
