.contacts {
  width: 320px;
  margin: 0 auto;
}
.contacts__wrapper {
  .padding-blocks();
}
.contacts__list {
  .list-reset();
  display: table;
  font-size: 15px;
  line-height: 30px;
  padding: 5px 0;
}
.contacts__item {
  display: table-row;
}
.contacts__name {
  display: table-cell;
  min-width: 70px;
  padding: 0px 0px 30px;
}
.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  padding: 45px 0 20px;
}
.contacts__map {
  width: 320px;
  height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.contacts__map-pin {
  position: relative;
  top: 165px;
  left: 124px;
  width: 70px;
  height: 95px;
  background-image: url(../img/icon-map-pin.svg);
  background-repeat: no-repeat;
}
