.contacts {
  margin: 0 auto;

  @media @tablets {
    padding: 0;
  }

  @media @desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 50px;
  }
}

.contacts__wrapper {
  padding: 20px 30px;
  min-height: 300px;

  @media @tablets {
    min-height: 240px;
    background-image: url(../img/icon-flag.svg);
    background-repeat: no-repeat;
    background-position: 92.7% 7%;
    padding: 0 45px;
    margin-top: 35px;
  }

  @media @desktop {
    display: flex;
    flex-direction: column;
    width: 366px;
    background-position: 0 118px;
  }
}

.contacts__list {
  .list-reset();
  display: table;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  padding: 5px 0;

  @media @tablets {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    margin-top: 25px;
    padding: 5px 5px;
  }

  @media @desktop {
    flex-wrap: wrap;
    position: relative;
    top: 70px;
    padding-left: 65px;
  }
}

.contacts__item {
  display: table-row;

  @media @tablets {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
  }

  @media @desktop {
    flex-basis: initial;
  }
}

.contacts__name {
  display: table-cell;
  min-width: 76px;
  padding: 0 0 30px;

  @media @tablets {
    display: initial;
  }
}

.contacts__text {
  display: initial;
}

.contacts__title {
  margin: 28px 0 0 0;
  font-size: 18px;
  line-height: 30px;
  padding: 20px 0 20px;

  @media @tablets {
    font-size: 43px;
    line-height: 50px;
    padding: 25px 0 20px;
  }

  @media @desktop {
    font-size: 53px;
    line-height: 57px;
    position: relative;
    top: 70px;
    left: 60px;
  }
}

.contacts__map {
  height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media @tablets {
    background-image: url("../img/map-tablet@1x.jpg");
    margin-top: 30px;
  }

  @media @desktop {
    width: 50%;
  }
}

.contacts__link {
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #444444;
  border-bottom: 1px solid #62d1ba;

  @media @tablets {
    font-size: 17px;
  }
}
/*************** styleguide start ******************/
.contacts__link:hover {
  color: #46c1ae;
}

.contacts__link:active {
  opacity: 0.3;
}
/*************** styleguide end ******************/
