.feedback {
  padding: 38px 30px;
  .mobile-width-margin();

  @media @tablets {
    padding: 55px 0;
    min-width: 768px;
    text-align: center;
  }

  @media @desktop {
    width: 230px;
    min-width: inherit;
    position: relative;
    bottom: 50px;
    right: 232px;
    height: 105px;
    padding: 0;
  }
}

.feedback__btn {
  font-size: 18px;
  padding: 14px 50px;

  @media @tablets {
    font-size: 17px;
    padding: 14px 39px;
  }

  @media @desktop {
    padding: 14px 37px;
  }
}
