.order {
  width: 260px;
  margin: 0 auto;
  padding: 30px;
}
.order__descr {
  padding: 25px 0px 10px;
  font-size: 13px;
  line-height: 24px;
}
fieldset {
  border-style: none;
  padding: 0px;
}
.order__title {
  .form-order-title();
  display: block;
  margin-bottom: 15px;
  margin-top: 25px;
}
.order__prop {
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  padding: 0px 35px 26px 60px;
}
.order__prop--name {
  padding: 0;
}
.order__submit {
  padding: 15px;
  min-width: 260px;
}
.order__input-data {
  display: block;
  margin: 10px 0px 20px 0px;
  width: 100%;
  border: none;
  padding: 0px 0px 10px 2px;
  border-bottom: 2px solid #000000;
}
.order__input-text {
  display: block;
  width: 100%;
  height: 140px;
  border: 2px solid #000000;
}
/* checkboxes */
.order__check-button {
  display: none;
}
/*** Квадратные ***/
.order__prop--rect:before {
  content: "";
  display: block;
  margin: 5px 0px -27px -62px;
  height: 35px;
  width: 35px;
  border: 2px solid #444444;
}
.order__check-button--rect:checked + .order__prop:before {
  background-image: url(../img/icon-tick.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
/*** Круглые ***/
.order__prop--circle:before {
  content: "";
  display: block;
  margin: 5px 0px -27px -62px;
  height: 14px;
  width: 14px;
  border: 2px solid #444444;
  border-radius: 50%;
  padding: 9px;
}
.order__check-button--circle:checked + .order__prop:before {
  background-color: #62d1ba;
  padding: 9px;
  background-clip: content-box;
}
/*** Данные пользователя ***/
.order__input-data {
  background-repeat: no-repeat;
  background-position: center right;
  padding: 10px 0;
}
.order__input-data--tel {
  background-image: url("../img/icon-phone.svg");
  background-size: 8%;
}
.order__input-data--mail {
  background-image: url("../img/icon-mail.svg");
  background-size: 10%;
}
