.page-header {
  padding: 0 30px;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  @media @tablets {
    width: auto;
    padding: 0;
  }
}
.page-header__title {
  font-size: 27px;
  line-height: 30px;
  padding: 71px 30px;
  background-color: #f1f1f1;
  margin: 0;
  @media @tablets {
    font-size: 53px;
    line-height: 57px;
    padding: 225px 45px;
  }
}
.page-header__title--main {
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 141px;
  @media @tablets {
    background-image: url(../img/hero-desktop.jpg);
    min-height: 350px;
    background-size: cover;
  }
}
.page-header__logo {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
  @media @tablets {
    padding: 37px 0;
  }
}
