.page-footer {
  padding: 0 30px;
  .mobile-width-margin();
  background-color: #f1f1f1;
}
.page-footer__socials {
  font-size: 0px;
  padding: 40px 5px;
}
.page-footer__copyright-link {
  font-size: 0px;
  .padding-blocks();
  background-image: url("../img/htmlacademy.svg");
}
.page-footer__copyright {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  .padding-blocks();
  border-top: 1px solid #e5e5e5;
}
