.page-footer {
  background-color: #f1f1f1;
  padding: 0 30px;
  .mobile-width-margin();

  @media @tablets {
    min-width: 768px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  @media @desktop {
    width: auto;
    min-height: 143px;
    padding: 0 30px;
  }
}

.page-footer__socials {
  font-size: 0;
  padding: 40px 5px;

  @media @desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
  }
}

.page-footer__copyright-link {
  font-size: 0;
  .padding-blocks();
  background-image: url("../img/htmlacademy.svg");
}

.page-footer__copyright {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  .padding-blocks();
  border-top: 1px solid #e5e5e5;

  @media @tablets {
    border: none;
  }
}

.page-footer__logo {
  display: none;

  @media @tablets {
    display: block;
    padding: 30px;
  }
}
.page-footer__logo-link {
  @media @tablets {
    display: block;
    padding: 60px;
    background-image: url("../img/mishka-logo-mobile.svg");
    background-repeat: no-repeat;
  }
}
