.production {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media  @desktop {
    min-width: 1050px;
    min-height: 450px;
    margin: 0 auto;
  }
}

.production__content {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 15px 25px 60px 28px;
  border: 1px solid #ececec;

  @media @tablets {
    min-width: 670px;
    margin: 0 10px 62px;
  }

  @media @desktop {
    display: block;
    width: 1050px;
    height: 100%;
    margin: 0 auto 103px;
  }
}

.production__btn {
  order: 4;
  margin: 24px 32px 30px;
  padding: 10px 25px;
  height: 53px;
  width: 190px;

  @media @tablets {
    order: 4;
    margin: 34px 0 45px 43px;
    width: 584px;
  }

  @media @desktop {
    float: right;
    width: 230px;
    height: 52px;
    margin: 46px 59px 25px;
    padding: 10px 20px;
    clear: right; /* очистить поток*/
  }
}

.production__title {
  order: 1;
  font-size: 17px;
  line-height: 24px;
  padding: 11px 10px 9px 89px;
  background-image: url("../img/icon-video.svg");
  background-size: 33px 33px;
  background-position: 33px center;
  background-repeat: no-repeat;

  @media @tablets {
    order: 2;
    font-size: 20px;
    background-size: 32px 32px;
    background-position: 25px 5px;
    margin: 28px 19px 4px;
  }

  @media @desktop {
    float: right;
    width: 235px;
    height: 5%;
    background-size: 33px 33px;
    background-position: 30px 10px;
    margin: 28px 25px 0 0;
    padding: 65px 30px 30px;
  }
}

.production__video-desc {
  order: 3;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding: 0 35px;
  margin-top: 25px;

  @media @tablets {
    font-size: 15px;
    line-height: 30px;
    order: 3;
    padding: 0 30px;
    margin: 20px 0 0 10px;
  }

  @media @desktop {
    float: right;
    width: 235px;
    height: 25%;
    margin: 2px 25px 0 0;
  }
}

.production__video-block {
  position: relative;
  order: 2;
  background-image: url("../img/video-mobile@1x.jpg");
  background-position: top center;
  background-size: cover;

  @media @retina {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media @tablets {
    order: 1;
    height: 455px;
    width: 100%;
    overflow: hidden;
    background-image: url("../img/video-tablet@1x.jpg");

    @media @retina {
      background-image: url("../img/video-tablet@1x.jpg");
    }
  }

  @media @desktop {
    float: left;
    height: 100%;
    width: 65%;
    background-image: url("../img/video-desktop@1x.jpg");
    background-position: top left;
    background-size: cover;

    @media @retina {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.production__video {
  @media @tablets {
    height: 465px;
    width: auto;
    margin: 0 0 0 -60px;
  }

  @media @desktop {
    height: 450px;
    width: auto;
    margin: 0 0 0 -70px;
  }
}

.production__video-control {
  position: absolute;
  top: 37px;
  left: 78px;
  width: 100px;
  height: 80px;
  background-image: url(../img/icon-play.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;

  @media @tablets {
    top: 190px;
    left: 285px;
    width: 100px;
    height: 100px;
  }

  @media @desktop {
    top: 185px;
    left: 290px;
    width: 105px;
    height: 78px;
  }
}

.production__video-control:hover {
  transform: scale(1.2);
  transition-duration: (1s);
}

.production__video-control:active {
  transform: scale(0.8);
  opacity: 0.3;
  transition-duration: (0.5s);
}
