.production {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media  @desktop {
    min-width: 1050px;
    min-height: 450px;
    margin: 0 auto;
  }
}
.production__content {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 15px 29px 50px;
  border: 1px solid #ececec;

  @media @tablets {
    min-width: 670px;
    margin: 0 10px 55px;
  }

  @media @desktop {
    display: block;
    width: 1050px;
    height: 100%;
    margin: 0 auto 105px;
    outline: 1px solid;
  }
}

.production__btn {
  order: 4;
  margin: 25px 35px 30px;
  padding: 10px 25px;
  height: 53px;
  width: 190px;

  @media @tablets {
    order: 4;
    margin: 37px 0 43px 43px;
    width: 584px;
  }

  @media @desktop {
    float: right;
    width: 230px;
    margin: 46px 58px 0 0;
    clear: right; /* очистить поток*/
  }
}

.production__title {
  order: 1;
  font-size: 17px;
  line-height: 24px;
  padding: 10px 10px 10px 90px;
  background-image: url(../img/icon-video.svg);
  background-size: 33px 33px;
  background-position: 33px center;
  background-repeat: no-repeat;

  @media @tablets {
    order: 2;
    font-size: 20px;
    background-size: 32px 32px;
    background-position: 25px 5px;
    margin: 25px 18px 2px;
  }

  @media @desktop {
    float: right;
    width: 235px;
    height: 5%;
    background-size: 33px 33px;
    background-position: 30px 10px;
    margin: 28px 25px 0 0;
    padding: 65px 30px 30px;
    outline: 1px solid;
  }
}

.production__video-desc {
  order: 3;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding: 0 35px;
  margin-top: 25px;

  @media @tablets {
    font-size: 15px;
    line-height: 30px;
    order: 3;
    padding: 0 30px;
    margin: 20px 0 0 10px;
  }

  @media @desktop {
    float: right;
    outline: 1px solid;
    width: 235px;
    height: 25%;
    margin: 2px 25px 0 0;
  }
}
.production__video-block {
  order: 2;

  @media @tablets {
    order: 1;
    height: 455px;
    width: 100%;
    overflow: hidden;
  }

  @media @desktop {
    float: left;
    height: 100%;
    width: 65%;
  }
}

.production__video {
  @media @tablets {
    height: 465px;
    width: auto;
    margin: 0 0 0 -60px;
  }

  @media @desktop {
    height: 450px;
    width: auto;
    margin: 0 0 0 -70px;
  }
}
