.promo-hit {
  outline: 1px dashed crimson;
  padding: 10px 30px;
  min-height: 800px;
  .mobile-width-margin();
  color: #444444;

  @media @tablets {
    min-height: 510px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 675px;
    padding: 5px 45px 70px;
  }

  @media @desktop {
    min-height: 725px;
    justify-content: flex-start;
    padding: 0;
    width: 1050px;
  }
}

.promo-hit__title {
  outline: 1px dashed salmon;
  margin: 15px 0 5px;
  padding: 0;

  @media @tablets {
    text-align: left;
    margin-top: 30px;
  }

  @media @desktop {

  }
}

.promo-hit__item-link {
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;

  @media @tablets {
    font-size: 43px;
    line-height: 50px;
  }

  @media @desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.promo-hit__marker {
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 20px;
  color: #63d1bb;
  outline: 1px dashed salmon;

  @media @tablets {
    position: absolute;
    right: -50%;
    top: 10px;
    width: 100px;
    text-align: center;
    line-height: 17px;
  }

  @media @desktop {
    left: 32px;
    top: 132px;
  }
}

.promo-hit__props {
  outline: 1px dashed salmon;
  display: table;
  list-style-type: none;
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin: 0 auto;

  @media @tablets {
    margin: 35px 0 20px 5px;
    width: 290px;
  }

  @media @desktop {
    margin-top: 46px;
  }
}

.promo-hit__prop-name {
  display: table-row;
  border-bottom: 1px solid #ececec;
}

.promo-hit__prop {
  display: table-cell;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid #ececec;
  width: 80px;
  padding: 10px 15px 10px 0;

  @media @tablets {
    padding: 9px 0 11px 0;
    width: 75px;
  }

  @media @desktop {
    outline: 1px solid salmon;
  }
}
.promo-hit__prop-value {
  width: 150px;

  @media @desktop {
    outline: 1px solid salmon;
  }
}

.promo-hit__price {
  outline: 1px dashed salmon;
  order: 4;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
  padding: 5px;
  margin-top: 5px;

  @media @tablets {
    order: 3;
    font-size: 20px;
    margin-top: 50px;
    width: 290px;
  }

  @media @desktop {
    margin-top: 104px;
  }
}

.promo-hit__descr {
  outline: 1px dashed salmon;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding: 23px 0 18px;
  min-height: 72px;

  @media @tablets {
    font-size: 17px;
    line-height: 30px;
    width: 290px;
    margin: 48px 0 20px 3px;
    padding: 0;
  }

  @media @desktop {
    margin-top: 50px;
    width: 43%;
  }
}

.promo-hit__btn {
  margin-top: 20px;
  padding: 15px 83px;

  @media @tablets {
    width: 295px;
    height: 53px;
    margin-top: 30px;
    padding: 10px;
  }

  @media @desktop {
    outline: 1px solid salmon;
  }
}

.promo-hit__pict {
  outline: 1px dashed salmon;
  width: auto;
  height: 100%;
  margin: 30px auto 10px;

  @media @tablets {
    width: 335px;
    height: 405px;
    position: absolute;
    top: 75px;
    right: -52%;
  }

  @media @desktop {
    width: inherit;
    height: auto;
    top: 30px;
    right: -23%;
    z-index: -1;
  }
}

.promo-hit__wrapper {
  @media @tablets {
    position: relative;
    width: 65%;
  }

  @media @desktop {
    padding: 88px 0 0 170px;
  }
}

.promo-hit__pict-wrapper {
  width: 100%;
  text-align: center;

  @media @desktop {
    width: 62%;
  }
}

.promo-hit__btn-wrapper {
  text-align: center;

  @media @tablets {
    width: 290px;
  }
}
