.reviews {
  padding: 20px 30px 45px;
  .mobile-width-margin();

  @media @tablets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 677px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 45px 70px;

    @media @retina {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px;
    }
  }

  @media @desktop {
    margin: 47px auto 65px;
    padding: 0 50px;
    background-position: left center;
    background-size: contain;
    outline: 1px solid;
    min-height: 460px;
    max-width: 950px;
  }
}

.reviews__item {
  @media @tablets {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.reviews__btn {
  font-size: 18px;
  padding: 14px 78px;

  @media @tablets {
    position: relative;
    top: 80px;
    width: 175px;
    height: 52px;
    right: 5px;
    padding: 0;
  }

  @media @desktop {
    left: 48px;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  padding: 0 0 10px;
  margin: 0;

  @media @tablets {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
    padding: 10px 0;
    order: 1;
  }
  @media @desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  .list-reset();

  @media @tablets {
    order: 3;
    height: 100%;
    margin-top: 10px;
  }
}

.reviews__descr {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding-bottom: 13px;

  @media @tablets {
    font-size: 17px;
    min-height: 120px; /** чтобы при растягивании нижние блоки не смещались вверх **/
    margin: 0;
    padding: 30px 5px;
  }

  @media @desktop {
    padding: 30px 0 10px;
  }
}

.reviews__user-name {
  font-weight: bold;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  @media @tablets {
    font-size: 18px;
    order: 4;
    position: relative;
    top: 28px;
    left: 5px;
  }

  @media @desktop {
    font-size: 17px;
    position: inherit;
  }
}

.reviews__user-mail {
  font-size: 17px;
  line-height: 30px;

  @media @tablets {
    font-size: 18px;
    order: 5;
    position: relative;
    top: 34px;
  }

  @media @desktop {
    font-size: 17px;
    position: inherit;
  }
}

.reviews__pagination {
  display: flex;
  flex-direction: row;
  padding: 30px 0 37px;

  @media @tablets {
    order: 3;
    width: 174px;
    padding: 0;
    position: relative;
    bottom: 68px;
    right: 6px;

  }

  @media @desktop {
    bottom: 119px;
    left: 47px;
  }
}

.reviews__pagination-item {
  position: relative;
  .pagination-buttons();
  flex-basis: 50%;
  background-repeat: no-repeat;
  background-position: center;

  @media @tablets {
    border: none;
    height: 30px;
    padding: 0;
  }
}

.reviews__pagination-item--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__pagination-item--next {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__wrapper {
  @media @tablets {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 2;
    min-height: 390px;
    margin-top: 15px;
  }

  @media @desktop {
    margin: 0;
    padding-left: 125px;
  }
}
