.socials__icon {
  padding: 25px 20px;

  @media @tablets {
    padding: 0;
  }

  @media @desktop {
    height: 28px;
    width: 23px;
  }
}

/* styleguide start*/

.socials__icon:active {
  opacity: 0.3;
}

.socials__icon--insta .icon-insta:hover{
  fill: #46c1ae;
}

.socials__icon--insta .icon-insta:active{
  opacity: 0.3;
}


.socials__icon--fb .icon-facebook:hover{
  fill: #46c1ae;
}
.socials__icon--fb .icon-facebook:active {
  opacity: 0.3;
}

.socials__icon--twi .icon-twitter:hover {
  fill: #46c1ae;
}

.socials__icon--twi .icon-twitter:active {
  opacity: 0.3;
}
