.socials__icon {
  padding: 30px 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.socials__icon--insta {
  background-image: url("../img/icon-insta.svg");
}

.socials__icon--fb {
  background-image: url("../img/icon-fb.svg");
}

.socials__icon--twi {
  background-image: url("../img/icon-twitter.svg");
}
